.container{
     overflow-y: hidden;
     overflow-x: hidden;
     text-align: center;
     margin: auto;
     font-size: 28px;
    }
.vault{
    height: 35%;
    width: 20%;
    margin-top: 0%;
    margin-bottom: 5%;


}
*{
  margin: 0
}
