

.side-drawer{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    background: #000;
    z-index: 200;
    border: 1px solid #FFD700;
    translate: translateX(-100%);
   transition: transform 2s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}

.side-drawer a {
    color: white;
    text-decoration: none;
}
.side-drawer li {
    margin:0.5rem 0;
}

.side-drawer a:hover{
  color: #FFD700;
}
